* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 53px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  color: #FFFFFF;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  top: 50px;
  position: absolute;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
}
.subheader_btn {
  display: block;
  margin-top: 21px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  cursor: pointer;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}
.subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}
.subheader_official {
  margin-top: 6px;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.5;
}
.subheader_call {
  margin-top: 18px;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
}
.subheader_phone {
  text-decoration: none;
  display: block;
  margin-top: 12px;
  font-weight: 400;
  font-size: 22px;
  line-height: 12px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo {
  min-height: 800px;
  background: url(../img/uber_bg.jpg) center center/cover no-repeat;
  padding: 150px 0 186px 0;
}
.promo_header {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 60px;
}
.promo_subheader {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px;
  margin-top: 23px;
}
.promo_discr {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}
.promo_btn {
  display: block;
  margin: 115px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  min-height: 862px;
  padding: 18px 0 77px 0;
}
.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}
.reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  width: 116px;
  height: 116px;
  border-radius: 100%;
  background: #1EACC7;
}
.reasons_descr {
  width: 371px;
}
.reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}
.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.label {
  margin: 0 auto;
  width: 113px;
  height: 24px;
  padding: 5px 12px;
  background-color: #000000;
  font-size: 11px;
  line-height: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.label_white {
  background-color: #fff;
  color: #000;
}

.title {
  margin-top: 33px;
  font-weight: 900;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.title_black {
  color: white;
}

.subtitle {
  margin: 1px auto;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222;
}
.subtitle_white {
  color: white;
}

.mobile {
  min-height: 864px;
  padding: 44px 0 82px 0;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 30px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 82.5px;
}
.mobile_item_1 {
  background: url("../img/card1.jpg") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/card2.jpg") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/card3.jpg") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/card4.jpg") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/card5.jpg") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/card6.jpg") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 34px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}
.mobile_item_plus:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.choice {
  position: relative;
  min-height: 898px;
  background: url("../img/wite_mb.jpg") bottom no-repeat;
  padding: 59px 0 137.5px 0;
}
.choice .black {
  position: absolute;
  height: 550px;
  top: 0;
  left: 0;
  width: 100%;
  background: #070716;
  z-index: -2;
}
.choice .pic {
  position: relative;
  display: block;
  margin: 54px auto 0 189px;
  z-index: 1;
}
.choice .text {
  display: block;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.require {
  padding: 52px 0 87px 0;
}/*# sourceMappingURL=style.css.map */